.categoryChoice {
  text-align: center;
  border-width: 5px;

  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 50px;
  width: 350px;
  height: 250px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.submitChooseCategory {
  text-align: center;
  margin-right: 0%;
  width: 250px;
  height: 75px;
  background-color: aqua;

  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.categoryChoiceForm {
  position: absolute;
  background-color: #282c34;
  margin-left: 22%;
  margin-top: 8%;
  margin-right: 15%;
  text-align: center;
  border-width: 50px;
  padding: 40px;

  border-radius: 25px;
  border: 2px solid #73AD21;
  
}

.fontForMsg {
  color: #1b771e;
  font-weight: 500;
}

.rankingButton {
  position: flex;
  width: 250px;
  height: 75px;
  color: rgb(15, 76, 189);
  outline-color: rgb(47, 0, 255);
  outline-width: 5px;

  margin-left: 3%;
  margin-top: 3%;
  text-align: center;
  top: 0%;
  right: 26%;

  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;

  border-width: 12px;

  border-radius: 25px;
  border: 2px solid #73AD21;
  background-color: rgb(175, 156, 11);

}

.submitFinalResultButton {
  position: relative;
  width: 250px;
  height: 75px;
  color: rgb(15, 76, 189);
  outline-color: rgb(47, 0, 255);
  outline-width: 5px;

  margin-right: 0%;
  margin-top: 5%;
  text-align: center;
  top: 0%;
  right: 0%;

  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;

  border-width: 12px;

  border-radius: 25px;
  border: 2px solid #73AD21;
  background-color: rgb(175, 156, 11);
}

.rankingBackButton {
  position: relative;
  width: 250px;
  height: 75px;
  color: rgb(15, 76, 189);
  outline-color: rgb(47, 0, 255);
  outline-width: 5px;

  margin-right: 0%;
  margin-top: 5%;

  top: 0%;
  right: -43%;

  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;

  border-width: 12px;

  border-radius: 25px;
  border: 2px solid #73AD21;
  background-color: rgb(175, 156, 11);

}

.logoutButton {
  position: absolute;
  width: 250px;
  height: 75px;
  color: rgb(15, 76, 189);
  outline-color: rgb(47, 0, 255);
  outline-width: 5px;

  margin-right: 3%;
  margin-top: 3%;
  text-align: center;
  top: 0%;
  right: 0%;

  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;

  border-width: 12px;

  border-radius: 25px;
  border: 3px solid #73AD21;
  background-color: rgb(175, 156, 11);

}

.nextQuestion {
  position: relative;
  width: 375px;
  height: 90px;
  text-align: center;
  background-color: green;
  font-size: 0.8cm;
  font-style: italic;
  font-display: unset;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: 20%;

}

.questionAndAnswers {
  position: relative;
  width: 1200px;
  height: 600px;
  border: 3px solid #73AD21;
  text-align: center;
  margin-left: 1%;
  top: 80px;
  border-radius: 30px;
  border-width: 5px;
  padding-top: 5%;
}

.answerButton {

  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;

  margin-left: -20%;
  text-align: left;
  box-shadow: inset 1em 1em var(--form-control-color);

  background-color: #a83232;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(0.075em);

  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);


}

p {
  text-align: center;
  margin-left: 10%;
}

.answersRadioButtons {
  display: inline-block;
  margin-left: 25%;
  text-align: left;
}

.radio-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.radio-input {
  opacity: 0;
  align-items: center;
  position: absolute;
  text-align: center;
}

.radio-label {
  margin-left: 30%;
  font-size: 32px;
  text-align: center;
  align-items: center;
}

.radio-input:checked+.radio-label {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
}

.finalResults {
  position: relative;
  width: 1200px;
  height: 2400px;
  border: 3px solid #73AD21;
  text-align: center;
  margin-left: 17%;
  top: 80px;
  border-radius: 30px;
  border-width: 5px;
}

.correctAnswerSummary {
  color: #1b771e;
}

.wrongAnswerSummary {
  color: #a30d0d;
}

.separator {
  border: "none";
  height: "2px";
  color: "#1cc1cc";
  background-color: hsl(74, 87%, 59%);
  color: #d11919;
  color-scheme: 'yellow';
}

#pomodoro-timer{
  display: flex;
  justify-content: center; 
  margin-top: 25px;

}

.twoButtons {
  display: 'flex';
  justify-content: flex-end; 
}

.page {
  position: relative;
  width: 1200px;
  height: 2400px;

  text-align: center;
  margin-left: 17%;
  top: 80px;

}