.ranking_table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;

    justify-content: center;
}

.ranking_table td,
.ranking_table th {
    border: 1px solid #ddd;
    padding: 8px;



}

.ranking_table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;

    border: 1px solid #ddd;
    padding: 8px;

    margin-left: 50%;
}

.ranking_head {
    text-align: center;
    font-size: 2cm;
    font-weight: 700;
}

.table-container {

text-align: center;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 10%;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.highlighted {
    background-color: rgb(37, 245, 29);
  }